body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

body.main-page-1 {
  background-color: #849d8f;
}

body.main-page-2 {
  background-color: #8996a6;
}

body.main-page-3 {
  background-color: #9d8b84;
}

body.inner-page {
  background-image: url("../img/background.png");
  background-position: 0 0;
  background-repeat: repeat-x;
}

a {
  text-decoration: none;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.main-header a {
  color: #ffffff;

  border-bottom: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-weight: 700;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active,
.site-navigation .site-navigation-current {
  border-bottom: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #333333;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.site-navigation .site-navigation-current {
  color: #ffffff;

  background-color: #d07058;
}

.catalog-navigation {
  list-style: none;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  border-bottom: none;
}

.catalog-navigation .new-items-link {
  font-weight: 700;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  background-color: #fbded7;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.catalog-navigation .catalog-navigation-current {
  color: #ffffff;

  background-color: #d07058;
}

.site-actions a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.site-actions a:hover:not(.site-actions-cart-empty),
.site-actions a:focus:not(.site-actions-cart-empty),
.site-actions .site-actions-cart {
  color: #323232;

  background-color: #f8f7f4;
}

.ordering-info {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.ordering-info b {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.dropdown, .modal {
  color: #323232;

  background-color: #f8f7f4;
}

.dropdown {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.input {
  font: inherit;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  border: 0;
  box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  outline: none;
}

.input:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.input:active,
.input:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.text-input::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;

  opacity: 1;
}

.text-input:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;

  opacity: 1;
}

.text-input::placeholder {
  font-weight: 400;
  color: #999999;

  opacity: 1;
}

.text-input:focus::-ms-input-placeholder {
  opacity: 0;
}

.text-input:focus:-ms-input-placeholder {
  opacity: 0;
}

.text-input:focus::placeholder {
  opacity: 0;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-color: #e84d37;
  background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
  border: 0;
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
}

.button:hover,
.button:focus {
  color: #fefefe;

  background-color: #f07a63;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 1px 2px #ac1000;
}

.button:active {
  color: #fceeec;

  background-color: #dc5338;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.slide {
  text-align: center;
}

.slide h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
}

.slide .button {
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide .button:hover,
.slide .button:focus {
  color: #ffffff;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.slide .button:active {
  color: #fceeec;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.slider-navigation {
  list-style: none;
}

.slider-switch {
  font: inherit;
  color: #000000;

  background-color: transparent;
  border: 1px solid #ffffff;
}

.slider-switch:hover,
.slider-switch:focus {
  background-color:  rgba(248, 247, 244, 0.4);
}

.slider-switch:active,
.slider-switch-current {
  background-color: #ffffff;
}

.slider-navigation:active .slider-switch-current:not(:active) {
  background-color: transparent;
}

.promotion-list {
  list-style: none;
  font-weight: 700;
}

.promotion-item h3 {
  font-size: 35px;
  line-height: 41px;
}

.promotions-item p {
  font-size: 18px;
  line-height: 22px;
}

.bonus-raspberries {
  color: #ffffff;

  background-color: #661123;
  background-image: url("../img/raspberries.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.bonus-chocolate {
  color: #ffffff;

  background-color: #452a1f;
  background-image: url("../img/chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.most-popular-list {
  list-style: none;
}

.product-item {
  text-align: center;
}

.product-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
}

.product-item h3 {
  display: inline;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.product-price {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-price .price,
.product-price .currency {
  font-size: 45px;
}

.about-us {
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #eee1c5;
  background-image: url("../img/wafer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.about-us b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.blog-news {
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberries.jpg");
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.blog-news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.blog-news a {
  text-decoration: underline;
  color: #323232;

  border-bottom: none;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #e84d37;
}

.subscription {
  background-image: url("../img/bg-post.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.subscription .container {
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;

  background-color: #f8f7f4;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;

  background-color: #ffffff;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}









.main-footer {
  font-weight: 400;
}

.social-buttons,
.footer-links {
  list-style: none;
}

.footer-links a {
  font-size: 13px;
}

.for-suppliers a {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
  color: #fefefe;
}

.footer-developer-logo {
  text-decoration: none;

  border-bottom: none;
}

.footer-developer-logo:hover,
.footer-developer-logo:focus,
.footer-developer-logo:active {
  border-bottom: none;
}

.search-form input,
.login-form input {
  font-size: 14px;
}

.login-links a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-links a:hover,
.login-links a:focus,
.login-links a:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.modal-feedback > p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-feedback .input {
  font-weight: 400;
}

.modal-feedback textarea {
  resize: none;
}
